{% for option in component['news'] %}
    <section class="title-highlighted" style="background-color:{{option.news-title-bg}}"> 
        <h1>{{option.news_title}}</h1>
    </section>
    <img src = "{{option.header_image.url}}" />
    <h4>{{option.news_content}}</h4>
    <img src = "{{option.related_images.url}}" />
    <h4>{{option.news_video}}</h4>
     <h4>{{option.external_links}}</h4>
     Category : <h4>{{option.category}}</h4>
     <br><br>
{% endfor %}

