{% block html_head_container %}
  {% include 'html-header.twig' %}
    {% block head %}{% endblock %}
  </head>
{% endblock %}

  <body class="{{ body_classes }}" data-template="base.twig">

    <!-- Google Tag Manager (noscript) -->
    <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
    <!-- End Google Tag Manager (noscript) -->
    {% block header %}
    <div class="wrapper">
            {% if custom_logo_url %}
                    <a class="hdr-logo-link" href="{{site.link}}" rel="home">
                        <img src="{{custom_logo_url}}" alt="{{site.name}}"/>
                    </a>
            {% else %}
                <h1 class="hdr-logo" role="banner">
                    <a class="hdr-logo-link" href="{{site.link}}" rel="home">{{site.name}}</a>
                </h1>
            {% endif %} 
       {% include "components/header.twig" with { 'nav-menu' : nav_menu.get_items } %}
        </div>
    {% endblock %}

    {% include 'icon-sprite.twig' %}

    <div class="body-content">
      {% block nav %}
        {% include 'nav.twig' %}
      {% endblock %}

      {% block content %}
      {% endblock %}

      {% block footer %}
        <footer>
          {% include 'components/footer.twig' %}
        </footer>
      {% endblock %}
    </div>

    {{ function('wp_footer') }}
  </body>
</html>
